<!-- <div style="display: flex;">
<p-card header="Amount Due this Month">
    <p class="m-0">
       {{dueAmount.amountDue}}
    </p>
    
</p-card>
<p-card header="Settlement Amount Due this Month">

     <p class="m-0">
         {{dueAmount.settlementAmountDue}}
      </p>
</p-card>
</div> -->
<div class="px-2 m-2 rounded-md bg-gray-100 w-1/2 text-center">
    <h3 class="text-black font-bold"> Total Amount Due this month</h3>
    <span class="font-sans font-extrabold">{{dueAmount.totalAmount}}</span>
</div>
<p-table [columns]="cols" [value]="chitsList" styleClass="p-datatable-gridlines" class="ui-table p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' ,'backgroundColor':'red'}">
    <ng-template pTemplate="caption"> Chit List </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
                {{ col.header }}
            </th>
            <th>
                Actions
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
            <td style="display: flex;">
                <button class="text-indigo-500" (click)="editChit(rowData)">
                    <mat-icon>edit</mat-icon>
                </button>
                <!-- <p-button [rounded]="true" > <mat-icon>edit</mat-icon></p-button> -->

            </td>
        </tr>
    </ng-template>
</p-table>
